<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Magento2example_Demo::unique_identifier"
      resource="Magento2example_Demo::unique_identifier"
      title="Example_Demo"
      action="magento2example_demo/index/index"
      module="Magento2example_Demo"
      sortOrder="999"
      parent="Magento_Backend::content"
      dependsOnModule="Magento_Backend"/>
  </menu>
</config>